{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'logstyle.css' %}">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo"><a href="{% url 'homepage' %}">ActiScore</a></h2>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="{% url 'loginpg' %}">Log In</a></li>
                    <li><a href="{% url 'register' %}">Sign Up</a></li>
                </ul>
            </div>
        </div>
    <div class="login-container">
        <h2>Login</h2><hr>
        <form action="{% url 'loginpg' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required class="userip">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required class="">
            </div>
            {% if msg %}
            <p>{{ msg }}</p>
            {% endif %}
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
    </div>
</body>
</html>