
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Teacher</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
  <body>
    <!--Body Starts-->
    <!--grid-->
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <!--sidebar-->
            <div class="col-auto px-sm-2 px-0" style="background-color: #1b1f21;">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-2 pt-1 text-white min-vh-100">
                    <div class="brand-name mb-5 mt-2">
                        <img src="{% static 'logo.png' %}"  alt="bootstrap" width="150" height="50">
                    </div>
                    <ul class="nav nav-underline nav-fill flex-column mb-sm-auto  align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="{%url 'teachvw' %}" class="nav-link text-light  align-middle mb-4 ">
                            <span class="ms-1 d-none d-sm-inline"><i class="fa-solid fa-user-group me-3"></i>Home Page</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'teach_cert' %}" class="nav-link text-light px-0 align-middle active mb-4" >
                             <span class="ms-1 d-none d-sm-inline"><i class="fa-solid fa-folder-open me-3"></i>Certificates</span> </a>

                        </li>
                        <li>
                            <a href="#" class="nav-link text-light align-justify mb-4 ">
                         <span class="ms-1 d-none d-sm-inline"><i class="fa-solid fa-check me-3"></i>Activity approval</span></a>
                        </li>
                        <li>
                            <a href="{% url 'update_teacher' %}" class="nav-link text-light px-0 align-middle mb-4">
                             <span class="ms-1 d-none d-sm-inline"><i class="fa-solid fa-pen me-3"></i>Update info</span> </a>
                        </li>
                    </ul>
                    <a class="btn btn-light  mx-3 mb-5 px-3 " href="{% url 'logout' %}" role="button"><span class="ms-1 d-none d-sm-inline"><i class="fa-solid fa-door-open me-2"></i>LogOut</span></a>
                </div>
            </div>
            <!--sidebar ends-->
            <!--content-->
            <div class="col g-0">
                <div class="col g-0">
                  <!-- navbar -->
                    <nav class="navbar sticky-top px-2 py-3" style="background-color:#2196F3;color: #FFFFFF; font-family: Helvetica;">
                        <div class="container-fluid">
                            <h2 class="d-flex">Activities</h2>
                            <h4 class="d-flex">{{teacheruser}}</h4>
                        </div>
                    </nav>
                  <!-- navbar ends -->
                  <div class="card m-4">
                    <div class="card-header text-light d-flex justify-content-between"style="background-color:#2380cd;">
                        <h4> {{student.name}} Activities</h4>
                        <div>
                        <span class="me-2">Sort By:</span>   
                        <button onclick="sortTable('name') " class="btn btn-light">Name</button>
                        <button onclick="sortTable('date')" class="btn btn-light">Date</button>
                        <button onclick="sortTable('points')" class="btn btn-light">Points</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="overflow-auto mx-2 "    style="max-height: 80vh;">
                        <table class="table" id="activity-table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th  scope="col"> Name</th>
                                    <th  scope="col"> Category</th>
                                    <th  scope="col"> Level</th>
                                    <th  scope="col"> Start Date</th>
                                    <th  scope="col"> End Date</th>
                                    <th  scope="col"> Points</th>
                                    <th  scope="col">Certificate</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for certs in activities %}
                                        <tr>
                                            <td scope="row">{{ forloop.counter }}</td>
                                            <td >{{ certs.name }}</td>
                                            <td >{{ certs.level.subcategory }}</td>
                                            <td >{{ certs.level.levelname }}</td>
                                            <td >{{ certs.start_date }}</td>
                                            <td >{{ certs.end_date }}</td>
                                            <td >{{ certs.points_obtained }}</td>
                                            <td><a href="{{ certs.certificate.url }}" target="_blank"><div class="btn btn-info text-light my-0 py-0 mx-2"><i class="fa-solid fa-image"></i></div></a></td>
                                        </tr>
                                    {% endfor %}
                            </tbody>
                        </table></div>
                    </div>
                </div>
            </div>
            <!--content end-->
        </div>
    </div>
    <!--grid ends-->
    <!--js scripts-->
    <script>
        function sortTable(criteria) {
            // Get the current URL
            var url = new URL(window.location.href);
            
            // Update the sorting parameter
            url.searchParams.set('sort_by', criteria);
    
            // Reload the page with the updated URL
            window.location.href = url.toString();
        }
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>